.THIS .slds-card__header.slds-grid {
    background: #f3f3f3;
    margin: 0;
    padding-bottom: 10px !important;
}
.THIS .slds-card__body {
    margin: 0;
    border-top: 1px solid #c9c9c9;
}
.THIS .header-title {
    font-size: .9rem;
}
.THIS .header-title a {
    color: #444444;
}